In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%pylab inline
import seaborn as sns

base_path = 'F:\Study\weiboPredict\data'

print('读取源微博...')
origin = pd.read_csv(base_path + '\sample_origin.csv',
                     index_col='w_id',
                     sep='\001',
                     encoding='utf-8',
                     quoting=3)
print('读取转发...')
repo = pd.read_csv(base_path + '\\sample_repo.csv',
                   sep='\001',
                   encoding='utf-8',
                   quoting=3).fillna(value='', axis=1)
 
# 只取datetime中的time
origin.time = [t.time() for t in pd.to_datetime(origin.time)]

Populating the interactive namespace from numpy and matplotlib

读取源微博...

读取转发...

In [23]:
# 系统抽样
def systematic_sampling(dataMat, num):
    import random
    k = int(len(dataMat)/num)
    
    samples = [random.sample(dataMat[i*k:(i+1)*k], 1)[0] for i in range(num)]
    return samples

In [24]:
test_size = int(0.2*origin.shape[0])
test_index = systematic_sampling(list(range(origin.shape[0])),test_size)
 
test_set = pd.DataFrame(origin.sort_values('repo_num_1w').iloc[test_index])
test_set.describe()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>author_id</th>
      <th>repo_num_1w</th>
      <th>mean_depth</th>
      <th>90p_depth</th>
      <th>max_depth</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>5.199000e+03</td>
      <td>5199.000000</td>
      <td>5199.000000</td>
      <td>5199.000000</td>
      <td>5199.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>5.278539e+06</td>
      <td>556.556453</td>
      <td>1.340614</td>
      <td>1.878823</td>
      <td>3.428159</td>
    </tr>
    <tr>
      <th>std</th>
      <td>2.384068e+06</td>
      <td>399.471059</td>
      <td>0.506703</td>
      <td>1.247518</td>
      <td>2.093290</td>
    </tr>
    <tr>
      <th>min</th>
      <td>1.249800e+04</td>
      <td>75.000000</td>
      <td>0.500000</td>
      <td>1.000000</td>
      <td>1.000000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>3.531765e+06</td>
      <td>193.000000</td>
      <td>1.010638</td>
      <td>1.000000</td>
      <td>2.000000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>5.736613e+06</td>
      <td>416.000000</td>
      <td>1.112211</td>
      <td>2.000000</td>
      <td>3.000000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>7.362190e+06</td>
      <td>922.000000</td>
      <td>1.517495</td>
      <td>2.000000</td>
      <td>4.000000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>8.379984e+06</td>
      <td>1494.000000</td>
      <td>6.696784</td>
      <td>12.000000</td>
      <td>16.000000</td>
    </tr>
  </tbody>
</table>
</div>

In [27]:
rest_sample = origin.drop(test_set.index,axis=0)
rest_sample.describe()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>author_id</th>
      <th>repo_num_1w</th>
      <th>mean_depth</th>
      <th>90p_depth</th>
      <th>max_depth</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>2.080000e+04</td>
      <td>20800.000000</td>
      <td>20800.000000</td>
      <td>20800.000000</td>
      <td>20800.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>5.242679e+06</td>
      <td>556.736346</td>
      <td>1.345381</td>
      <td>1.891875</td>
      <td>3.460817</td>
    </tr>
    <tr>
      <th>std</th>
      <td>2.384347e+06</td>
      <td>399.614785</td>
      <td>0.520390</td>
      <td>1.267368</td>
      <td>2.120873</td>
    </tr>
    <tr>
      <th>min</th>
      <td>6.824000e+03</td>
      <td>75.000000</td>
      <td>0.500000</td>
      <td>1.000000</td>
      <td>1.000000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>3.470838e+06</td>
      <td>193.000000</td>
      <td>1.011940</td>
      <td>1.000000</td>
      <td>2.000000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>5.687616e+06</td>
      <td>416.000000</td>
      <td>1.120104</td>
      <td>2.000000</td>
      <td>3.000000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>7.298946e+06</td>
      <td>922.000000</td>
      <td>1.518607</td>
      <td>2.000000</td>
      <td>4.000000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>8.379984e+06</td>
      <td>1506.000000</td>
      <td>8.063518</td>
      <td>17.000000</td>
      <td>22.000000</td>
    </tr>
  </tbody>
</table>
</div>

In [29]:
vali_size = int(0.2*rest_sample.shape[0])
vali_index = systematic_sampling(list(range(rest_sample.shape[0])),vali_size)
 
vali_set = pd.DataFrame(rest_sample.sort_values('repo_num_1w').iloc[vali_index])
vali_set.describe()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>author_id</th>
      <th>repo_num_1w</th>
      <th>mean_depth</th>
      <th>90p_depth</th>
      <th>max_depth</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>4.160000e+03</td>
      <td>4160.000000</td>
      <td>4160.000000</td>
      <td>4160.000000</td>
      <td>4160.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>5.226075e+06</td>
      <td>556.734615</td>
      <td>1.341161</td>
      <td>1.875240</td>
      <td>3.455529</td>
    </tr>
    <tr>
      <th>std</th>
      <td>2.394741e+06</td>
      <td>399.647931</td>
      <td>0.503167</td>
      <td>1.200129</td>
      <td>2.082211</td>
    </tr>
    <tr>
      <th>min</th>
      <td>4.261800e+04</td>
      <td>75.000000</td>
      <td>0.500000</td>
      <td>1.000000</td>
      <td>1.000000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>3.464099e+06</td>
      <td>193.000000</td>
      <td>1.012076</td>
      <td>1.000000</td>
      <td>2.000000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>5.645189e+06</td>
      <td>416.500000</td>
      <td>1.123420</td>
      <td>2.000000</td>
      <td>3.000000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>7.298946e+06</td>
      <td>922.250000</td>
      <td>1.517964</td>
      <td>2.000000</td>
      <td>4.000000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>8.361536e+06</td>
      <td>1497.000000</td>
      <td>5.993808</td>
      <td>11.000000</td>
      <td>18.000000</td>
    </tr>
  </tbody>
</table>
</div>

In [31]:
train_set = rest_sample.drop(vali_set.index,axis=0)
train_set.describe()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>author_id</th>
      <th>repo_num_1w</th>
      <th>mean_depth</th>
      <th>90p_depth</th>
      <th>max_depth</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>1.664000e+04</td>
      <td>16640.000000</td>
      <td>16640.000000</td>
      <td>16640.000000</td>
      <td>16640.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>5.246830e+06</td>
      <td>556.736779</td>
      <td>1.346436</td>
      <td>1.896034</td>
      <td>3.462139</td>
    </tr>
    <tr>
      <th>std</th>
      <td>2.381796e+06</td>
      <td>399.618508</td>
      <td>0.524617</td>
      <td>1.283629</td>
      <td>2.130489</td>
    </tr>
    <tr>
      <th>min</th>
      <td>6.824000e+03</td>
      <td>75.000000</td>
      <td>0.500000</td>
      <td>1.000000</td>
      <td>1.000000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>3.474536e+06</td>
      <td>193.000000</td>
      <td>1.011924</td>
      <td>1.000000</td>
      <td>2.000000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>5.699560e+06</td>
      <td>416.000000</td>
      <td>1.119256</td>
      <td>2.000000</td>
      <td>3.000000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>7.298946e+06</td>
      <td>922.000000</td>
      <td>1.518826</td>
      <td>2.000000</td>
      <td>4.000000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>8.379984e+06</td>
      <td>1506.000000</td>
      <td>8.063518</td>
      <td>17.000000</td>
      <td>22.000000</td>
    </tr>
  </tbody>
</table>
</div>

In [32]:
train_repo = repo[repo['w_id'].isin(train_set.index)]
test_repo = repo[repo['w_id'].isin(test_set.index)]
vali_repo = repo[repo['w_id'].isin(vali_set.index)]

In [38]:
train_set.to_csv(base_path+'\\samples\\origin_train.csv',
                sep='\001',
                columns = ['author_id','time','repo_num_1w','max_depth','90p_depth','mean_depth','content'],
                index_label='w_id',
                encoding='utf-8',
                quoting=3)
train_repo.to_csv(base_path+'\\samples\\repo_train.csv',
                sep='\001',
                index=False,
                encoding='utf-8',
                quoting=3)

vali_set.to_csv(base_path+'\\samples\\origin_vali.csv',
                sep='\001',
                columns = ['author_id','time','repo_num_1w','max_depth','90p_depth','mean_depth','content'],
                index_label='w_id',
                encoding='utf-8',
                quoting=3)
vali_repo.to_csv(base_path+'\\samples\\repo_vali.csv',
                sep='\001',
                index=False,
                encoding='utf-8',
                quoting=3)

test_set.to_csv(base_path+'\\samples\\origin_test.csv',
                sep='\001',
                columns = ['author_id','time','repo_num_1w','max_depth','90p_depth','mean_depth','content'],
                index_label='w_id',
                encoding='utf-8',
                quoting=3)
test_repo.to_csv(base_path+'\\samples\\repo_test.csv',
                sep='\001',
                index=False,
                encoding='utf-8',
                quoting=3)